.jumbotron{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.jumbotron img{
	width: 600px;
}
.jumbotron h3{
	color: #fff;
}
.jumbotron h4{
	color: #fff;
}
.map iframe{
	width: 100%;
}